@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Work+Sans:wght@300&display=swap');

body{
	font-family: 'Work Sans', sans-serif;
}

.quiz-box{
	margin-top: 100px;
	max-width: 500px;
	height: auto;
	padding: 40px;
	background-color: skyblue;
	border-radius: 10px;
}
.quiz-ans button{
	margin: 2%;
	width: 90%;
	height: auto;
	padding: 10px;
	background-color: white;
}
#next{
	display: none;
}
